:root {
 margin: 0 auto;
padding: 0;
box-sizing: border-box;
font-family: Rubik, serif ;
font-weight: 500;
font-size: 18px;
-webkit-text-size-adjust: 100%;
height: 100%;
}
@font-face {
    font-family: "Rubik";
    src: url("/public/fonts/Rubik.woff2") format("woff2");
}
/*remember we set height, but if we set width, it does not take into account the scrollbar 10px, this creates horizontal scroller on the bottom
    the solution is to not set width anywhere and it defaults, or set auto only, but we should set height. if we do set width, choose 100% over 100vw
        to avoid surprise scrollbars   https://www.freecodecamp.org/news/html-page-width-height/        https://css-tricks.com/the-lengths-of-css/
  https://www.nordtheme.com/
    NEVER set page WIDTH, we get horizontal scroll issues.
*/

/* if the page is NOT filled up, the color will only show up to the current elements height, if height is 100% it will up the page, but once you scroll
    below the page load view, the background color of .App will not cover it, so we need min-height to cover the entire scrollable page. even though it looks bad at first
    our page may not be up to the full length, to not get the height: 100% error of it not filling IF we scrolls past 100%, we use min-height: 100vh, so it starts off filling
    the full page even though its not full, and it goes past it if we make our page longer, so MIN height is not 100% of our current short content, its 100vh of entire page,
    */


html, body, #root, .App{
min-height: 100vh;
margin: 0;
padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, serif ;
}

button {
all: unset;
padding: 0.375em 0.75em;
width: max-content;
border-radius: 3px;
transition:  200ms ease-in-out;
cursor: pointer;
font-size: 1rem;
font-weight: 400;
}
.light-mode button{
border: 1px solid #2e3440;
color: #2e3440;
}
.light-mode button:hover, .dark-mode button:hover  {
border: 1px solid #88c0d0;
color: #88c0d0;
}
.dark-mode button{
border:0.0625em solid rgb(76, 86, 106);
color: inherit;
}

body {
/* background-color: #88c0d0; */
}
.App {
display: flex;
flex-direction: column;

}

.App.dark-mode {
background-color: #2e3440;
color: rgb(236, 239, 244);
}

.App.light-mode {
color: #2e3440;
background-color: white;
}
input[type="text"] {
max-width: 10rem;
}

div a {
margin: 0 1rem;
}

.test-btn {
margin: 0.5rem 0 ;
}

